<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="author" content="DraftMan">
	<meta name="copyright" content="DraftMan">

    <link rel="shortcut icon" href="images/favicon.png" type="image/ico" />

    <meta name="theme-color" content="#CD6E57">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CD6E57">
    <meta name="msapplication-navbutton-color" content="#CD6E57">

	<meta property="og:type" content="website">
	<meta property="og:locale" content="fr_FR">
	<meta property="og:site_name" content="DraftMan.fr">
	<meta property="og:image" content="https://www.draftman.fr/images/avatar.jpg">
	<meta property="og:image:secure_url" content="https://www.draftman.fr/images/avatar.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@DraftMan_Dev">
    <meta name="twitter:creator" content="@DraftMan_Dev">
    <meta name="twitter:image:src" content="https://www.draftman.fr/images/avatar.jpg">

    <meta name="generator" content="VSCode">

    @!section('seo')

    @!section('css')

    {{ style('css/style')}}

    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="acbc2f53-2535-421f-8b15-770f4f67ee0c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>
<body>
    @include('inc/header')

    @!section('content')

    @include('inc/footer')

    @!section('js')
    {{ script('js/app') }}
</body>
</html>