<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html"/>

	<meta name="apple-mobile-web-app-capable" content="yes" />

    <link type="text/plain" rel="author" href="https://www.draftman.fr/humans.txt" />
    <meta name="author" content="DraftMan">
	<meta name="copyright" content="DraftMan">

    <link rel="shortcut icon" href="/images/favicon.png" type="image/ico" />

    <meta name="theme-color" content="#CD6E57">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CD6E57">
    <meta name="msapplication-navbutton-color" content="#CD6E57">

	<meta property="og:type" content="website">
	<meta property="og:locale" content="fr_FR">
	<meta property="og:site_name" content="DraftMan.fr">
	<meta property="og:image" content="https://www.draftman.fr/images/avatar.jpg">
	<meta property="og:image:secure_url" content="https://www.draftman.fr/images/avatar.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@DraftMan_Dev">
    <meta name="twitter:creator" content="@DraftMan_Dev">
    <meta name="twitter:image:src" content="https://www.draftman.fr/images/avatar.jpg">

    <meta name="generator" content="VSCode">

    @!section('seo')

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700,900">

    {{ style('css/style.min')}}
    {{ style('css/dashboard.min')}}

    @!section('css')
</head>
<body id="page">
    @include('inc/header')

    <section id="dashboard" :class="open === 'true' ? 'md' : 'xs'">
        <nav id="menu" ref="menu">
            <div class="content" ref="content">
                <img class="user" src="{{getProfilImage(auth.user)}}" alt="User">
                <span class="username" v-if="open === 'true'">{{auth.user.username}}</span>
                <ul>
                    <a class="{{request.url() === '/me/' ? 'active': ''}}" href="/me/"><i class="icon-home"></i><span v-if="open === 'true'">Accueil</span></a>
                    <a class="{{request.url() === '/me/profil' ? 'active': ''}}" href="/me/profil"><i class="icon-user"></i><span v-if="open === 'true'">Mon profil</span></a>
                    @if(auth.user.role !== 1000)
                      @if(auth.user.client === 1)
                          <a class="{{request.url() === '/me/client/dashboard' ? 'active': ''}}" href="/me/client/dashboard"><i class="icon-client"></i><span v-if="open === 'true'">Espace Client</span></a>
                      @else
                          <a class="{{request.url() === '/me/client' ? 'active': ''}}" href="/me/client"><i class="icon-client"></i><span v-if="open === 'true'">Devenir Client</span></a>
                      @endif
                    @endif
                    {{--  
                    @if(auth.user.role >= 1)
                        <a class="{{request.url() === '/me/comments' ? 'active': ''}}" href="/me/comments"><i class="icon-comment"></i><span v-if="open === 'true'">Commentaires</span></a>
                        <a class="{{request.url() === '/me/articles' ? 'active': ''}}" href="/me/articles"><i class="icon-articles"></i><span v-if="open === 'true'">Articles</span></a>
                    @endif  
                    --}}
                    @if(auth.user.role >= 2)
                        {{--  <a class="{{request.url().startsWith('/me/write') ? 'active': ''}}" href="/me/write"><i class="icon-create"></i><span v-if="open === 'true'">Ecrire un article</span></a>  --}}
                        <a class="{{request.url() === '/me/upload' ? 'active': ''}}" href="/me/upload"><i class="icon-upload"></i><span v-if="open === 'true'">Upload</span></a>
                    @endif
                    @if(auth.user.role === 1000)
                        <a class="{{request.url().startsWith('/admin/clients') ? 'active': ''}}" href="/admin/clients"><i class="icon-group"></i><span v-if="open === 'true'">Clients</span></a>
                        <a class="{{request.url().startsWith('/admin/user') ? 'active': ''}}" href="/admin/users"><i class="icon-face"></i><span v-if="open === 'true'">Utilisateurs</span></a>
                        <a class="{{request.url().startsWith('/admin/portfolio') ? 'active': ''}}" href="/admin/portfolio"><i class="icon-developer-board"></i><span v-if="open === 'true'">Portfolio</span></a>
                        {{--  <a class="{{request.url() === '/admin/newsletter' ? 'active': ''}}" href="/admin/newsletter"><i class="icon-fiber-new"></i><span v-if="open === 'true'">NewsLetter</span></a>  --}}
                    @endif
                    <a class="logout" href="/logout"><i class="icon-slideshow"></i></a>
                </ul>
            </div>
        </nav>
        <div class="corps" ref="corps">
            <div id="bar">
                <div id="burger" @click="toggleMenu()"><span class="inner"></span></div>

                <div @click="toggleProfil()" id="user">
                    <div class="profil" style="background-image: url({{getProfilImage(auth.user)}})"></div>
                    <span>{{auth.user.username}}<i class="icon-arrow-down"></i></span>

                    <ul :class="{active: profil}">
                        <a href="/logout"><i class="icon-slideshow"></i><span>Legout</span></a>
                    </ul>
                </div>
            </div>

            <div class="content">
                @!section('content')
            </div>
        </div>
    </section>

    @include('inc/footer')
    <section class="notifs">
        @if(flashMessage('notif'))
        <div class="notif"> <div class="notif_icon"></div><div class="content">{{ flashMessage('notif') }}</div></div>
      @endif
      @if(flashMessage('error'))
        <div class="notif error"> <div class="notif_icon"></div><div class="content">{{ flashMessage('error') }}</div></div>
      @endif
        @!section('notifs')
    </section>

    {{ script('js/app') }}
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js') }}
    {{ script('/js/dashboard') }}
    @!section('js')
</body>
</html>
