<footer>
	<div class="content">
		<div>
            <h4>DraftMan.fr</h4>
            <a href="/" title="Accueil">Accueil</a>
            <a href="/a-propos" title="À Propos">À Propos</a>
            <a href="/portfolio" title="Portfolio">Portfolio</a>
            <a href="/blog" title="Blog">Blog</a>
            <a href="/contact" title="Contact">Contact</a>
        </div>
        <div>
            <h4>Contact</h4>
            <a href="/contact" title="Formulaire de Contact">Formulaire de Contact</a>
			<span class="contract">
                <a href="https://draftman.fr/discord" target="blank">Discord</a> | 
                <a href="https://twitter.com/DraftMan_Dev" target="blank">Twitter</a>
            </span>
			<span class="contract">
                <a href="https://www.paypal.me/draftproducts" target="blank">PayPal</a> | 
                <a href="https://www.patreon.com/draftman_dev" target="blank">Patreon</a>
            </span>
			<span class="contract">
                <a href="https://github.com/DraftProducts" target="blank">GitHub</a> | 
                <a href="https://gitlab.com/DraftMan" target="blank">GitLab</a>
            </span>
			<span class="contract">
                <a href="https://plus.google.com/+DraftMan" target="blank">Google plus</a> | 
                <a href="https://www.facebook.com/profile.php?id=100009450744702" target="blank">Facebook</a>
            </span>
        </div>
        <div>
            <h4>Partenaires</h4>
            <a href="https://sfregis.fr" target="blank">SFRégis</a>
            <a href="https://www.hadecoraties.fr" target="blank">HAdecoraties</a>
            <!-- <a href="https://itsalexousd.fr" target="blank">ItsAlexousd</a> -->
            <!-- <a href="https://siorg-consulting.fr" target="blank">SIORG Consulting</a> -->
            <!-- <a href="https://islandswars.fr" target="blank">IslandsWars</a> -->
            <!-- <a href="https://rateny.fr" target="blank">Rateny</a> -->
            <!-- <a href="https://www.secretsman.net" target="blank">SecretsMan</a> -->
        </div>
	</div>
	<div id="copyright">
		<section>Copyright 2018 &copy; - All rights reserved</section><span class="sep"> - </span><section>Développé avec <span class="coeur">❤</span> par DraftMan</section><a href="/admin">Admin</a>
	</div>
</footer>