#dashboard{
    display: flex;
    justify-content: space-between;
}
#dashboard #menu{
    width: 300px;
    min-height: 600px;
    padding: 0;
    z-index: 128;
    background-color: #fff;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    -moz-box-shadow: 1px 0 20px rgba(0,0,0,.08);
    -webkit-box-shadow: 1px 0 20px rgba(0,0,0,.08);
    -webkit-transition: width .6s cubic-bezier(.15,.99,.18,1.01);
    transition: width .6s cubic-bezier(.15,.99,.18,1.01);
}

#dashboard.xs #menu{
    width: 90px;
}
#dashboard.xs .corps{
    width: calc(100vw - 90px);
}
#dashboard #menu .content{
    display: flex;
    flex-direction: column;
}
#dashboard .corps{
    display: table-cell;
    width: calc(100vw - 300px);
    min-height: 600px;
    background-color: #F7F7F7;
}
#dashboard .corps #bar{
    background-color: #2E3133;
    height: 60px;
}

#dashboard .corps>.content{
    height: calc(100% - 60px);
}

#dashboard #menu .user{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 3px solid #cd6e57;
    margin: 30px auto 0;
    transition: 0.3s;
}
#dashboard #menu .username{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #404346;
    padding: 10px 0 30px;
}
#dashboard #menu ul{
    display: flex;
    flex-direction: column;
}
#dashboard #menu ul a{
    padding: 20px 20px 20px 80px;
    text-decoration: none;
    font-size: 18px;
    color: #7E7E7E;
    transition: 0.5s;
}
#dashboard.xs #menu ul a{
    padding: 20px 0;
}
#dashboard.xs #menu .user{
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

#dashboard #menu ul a.active,#dashboard #menu ul a:hover{
    color: #CD6E57;
    background-color: #F7F7F7;
}
#burger {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}
#burger .inner,
#burger .inner:before,
#burger .inner:after {
    background-color: #fff;
    position: absolute;
    width: 35px;
    height: 4px;
    border-radius: 4px;
    z-index: 5
}
#burger .inner:before {
    left: 0;
    top: -10px;
    transition: transform .125s cubic-bezier(.6, .04, .98, .335), top .05s linear .125s, left .125s ease-in .175s;
    display: block;
    content: "";
}
#burger .inner:after {
    top: 10px;
    bottom: -10px;
    right: 0;
    transition: transform .125s cubic-bezier(.6, .04, .98, .335), top .05s linear .125s, right .125s ease-in .175s;
    display: block;
    content: "";
}


#dashboard .accueil{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dashboard .accueil h1{
    margin-bottom: 10px;
}

#dashboard .profil{
    display: flex;
}

#dashboard .profil .compte,#dashboard .profil .infos_supp{
    padding: 50px;
    flex: 1
}

#dashboard .profil .compte{
    padding: 50px 0px 50px 50px;
}

#dashboard .profil .profil_file{
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
#dashboard .profil #profil_file{
    position: absolute;
    width: 150px;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}
#dashboard .profil .profil_image{
    height: 147px;
    width: 147px;
    border: 3px solid #cd6e57;
    border-radius: 100%;
    background-size: cover;
}
#dashboard .profil .profil_image .text{
    text-transform: uppercase;
    font-size: 15px;
    color: #B7B7B7;
    font-weight: 600;
    background-color: #404040a6;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s background-color;
}

#dashboard .profil #profil_file:hover + .profil_image .text{
    background-color: #404040bf;
}
#dashboard form>div{
    position: relative;
}
#dashboard form>div>label{
    position: absolute;
    opacity: .5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    top: 13px;
    font-size: 14px;
    left: 14px;
    animation-direction: alternate;
}
#dashboard input[type="text"],#dashboard input[type="email"],#dashboard input[type="password"],#dashboard button,#dashboard #discord{
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
    outline: 0;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}
#dashboard form>div>input:focus~label, #dashboard form>div>input.filled~label{
    left: auto;
    right: 14px;
    opacity: .3;
}

#dashboard button{
    color: #fff;
    background-color: #cd6e57;
    padding: 12px;
    cursor: pointer;
}

#dashboard #discord{
    background-color: #2C2F33;
    height: auto;
    display: flex;
    padding: 22px;
    margin-bottom: 30px;
}

#dashboard #discord .image{
    background-size: cover;
    height: 106px;
    width: 106px;
    border-radius: 100%;
}

#dashboard #discord .content{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-left: 22px;
}

#dashboard #discord .pseudo{
    color: #D6D6D6;
    font-size: 22px;
    margin-bottom: 4px;
}

#dashboard #discord .pseudo .code{
    font-size: 14px;
    color: #8A8A8A;
}

#dashboard #discord .email{
    font-size: 14px;
    color: #656565;
}

#dashboard #discord a{
    background-color: #7289DA;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    margin-top: auto;
}