<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html" />

  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link type="text/plain" rel="author" href="https://www.draftman.fr/humans.txt" />
  <meta name="author" content="DraftMan">
  <meta name="copyright" content="DraftMan">

  <link rel="shortcut icon" href="/images/favicon.png" type="image/ico" />

  <meta name="theme-color" content="#CD6E57">
  <meta name="apple-mobile-web-app-status-bar-style" content="#CD6E57">
  <meta name="msapplication-navbutton-color" content="#CD6E57">

  <title>Commandes DraftBot - Bot discord français</title>
  <meta name="description" content="Voici les commandes du bot discord DraftBot, elles fonctionnant principalement avec des réactions, ses fonctionnalités principales sont la musique, un système de niveau, la modération, des outils pour les développeurs et ses nombreuses autres commandes.">  

  <meta property="og:title" content="Commandes DraftBot - Bot discord français">
  <meta property="og:description" content="Voici les commandes du bot discord DraftBot, elles fonctionnant principalement avec des réactions, ses fonctionnalités principales sont la musique, un système de niveau, la modération, des outils pour les développeurs et ses nombreuses autres commandes.">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="fr_FR">
  <meta property="og:site_name" content="DraftMan.fr">
  <meta property="og:image" content="/images/draftbot/logo_s.png">
  <meta property="og:image:secure_url" content="/images/draftbot/logo_s.png">

  <meta name="twitter:title" content="Commandes DraftBot - Bot discord français">
  <meta name="twitter:description" content="Voici les commandes du bot discord DraftBot, elles fonctionnant principalement avec des réactions, ses fonctionnalités principales sont la musique, un système de niveau, la modération, des outils pour les développeurs et ses nombreuses autres commandes.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@DraftMan_Dev">
  <meta name="twitter:creator" content="@DraftMan_Dev">
  <meta name="twitter:image:src" content="/images/draftbot/logo_s.png">

  <meta property="og:url" content="https://www.draftman.fr/draftbot">

  <meta name="generator" content="VSCode">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

  {{ style('css/style.min')}}
  {{style('css/draftbot.min')}}
</head>

<body id="page">
  <section id="draftbot" class="commands">
    <div class="bar">
      <a href="/draftbot"><img src="/images/DraftBot_Logo.png" alt="DraftBot" class="logo"></a>
      <div class="menu-bot">
        <a href="/draftbot/commandes">Commandes</a>
        <a href="/twitter" class="icon"><i class="icon-twitter"></i></a>
        <a href="https://github.com/DraftProducts/DraftBot" class="icon"><i class="icon-github"></i></a>
        <a href="/discord" class="icon"><i class="icon-discord"></i></a>
        {{--  <a href="" class="button"><span>Se connecter</span></a>  --}}
      </div>
    </div>
    <div class="list">
      <div class="search-bar">
          <div class="search">
            <input type="search" id="search" name="search" placeholder="Rechercher une commande">
            <i class="icon-search"></i>
          </div>
      </div>
      <div id="items">
        <table>
          <thead>
              <tr>
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Catégorie</th>
                  <th>Exemple</th>
                  <th>Alias</th>
              </tr>
          </thead>
          <tbody>
              @each(command in commands)
                <tr class="item" keyswords="{{command.name}} {{command.aliases}} {{command.groupID}} {{command.description}}">
                    <td>{{command.name}}</td>
                    <td>{{command.description}}</td>
                    <td>{{command.groupID}}</td>
                    <td>{{separate(command.examples)}}</td>
                    <td>{{separate(command.aliases)}}</td>
                </tr>
              @endeach
          </tbody>
        </table>
      </div>
    </div>
  </section>

  @include('inc/footer')
  </section>
  {{ script('js/app') }}
  <script>
    document.getElementById('search').addEventListener('keyup', (event) => {
    [].forEach.call(document.querySelectorAll('#items .item'), element => {
      console.log(element.firstChild)
      if(element.getAttribute('keyswords').toLowerCase().includes(event.target.value.toLowerCase())){
        element.style.display = 'table-row'
      }else{
        element.style.display = 'none'
      }
    });
  });
  </script>
</body>
</html>
