<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{{post.title}} | DraftMan.fr</title>

    <meta name="description" content="{{post.description}}">

    <link type="text/plain" rel="author" href="https://www.draftman.fr/humans.txt" />
    <meta name="author" content="DraftMan">
    <meta name="copyright" content="DraftMan">

    <link rel="shortcut icon" href="/images/favicon.png" type="image/ico" />

    <link rel="canonical" href="https://www.draftman.fr/blog/{{post.id}}-{{post.url}}" />

    <meta property="og:title" content="{{post.title}} - DraftMan.fr">
    <meta property="og:description" content="{{post.description}}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:url" content="https://www.draftman.fr/blog/{{post.id}}-{{post.url}}">
    <meta property="og:site_name" content="DraftMan.fr">
    <meta property="og:image" content="https://www.draftman.fr/uploads/posts/{{post.image}}">
    <meta property="og:image:secure_url" content="https://www.draftman.fr/uploads/posts/{{post.image}}">
    <meta property="og:updated_time" content="{{post.updated_at}}">
    <meta property="article:publisher" content="https://www.facebook.com/profile.php?id=100009450744702">
    <meta property="article:published_time" content="{{post.created_at}}">
    <meta property="article:modified_time" content="{{post.updated_at}}">

    @each(tag in tags)
        <meta property="article:tag" content="{{tag}}">
    @endeach

    <meta name="theme-color" content="#CD6E57">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CD6E57">
    <meta name="msapplication-navbutton-color" content="#CD6E57">

    <meta name="twitter:site" content="@DraftMan_Dev">
    <meta name="twitter:creator" content="@DraftMan_Dev">
    <meta name="twitter:title" content="{{post.title}} - DraftMan.fr">
    <meta name="twitter:description" content="{{post.description}}">
    <meta name="twitter:image:src" content="https://www.draftman.fr/uploads/posts/{{post.image}}">

    <meta name="generator" content="Sublime Text">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Material+Icons|Open+Sans:300,400,600,700">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/code.css">
</head>

<body id="page">
    @include('inc/header')
    <section class="parallax" style="background-image: url(/uploads/posts/{{post.image}});">
        <h1>
            {{post.title}}
        </h1>
    </section>
    <section id="blog" class="post">
        <div class="content">
            <div class="corps">
                <div class="item-content">
                    <div class="top-content">
                        <h2>
                            {{post.title}}
                        </h2>
                        <div class="infos">
                            <li>
                                <i class="icon-user"></i>
                                <span>{{post.author.username}}</span>
                            </li>
                            <li>
                                <i class="icon-calender"></i>
                                <span>{{date(post.published_at) }}</span>
                            </li>
                            <li>
                                <i class="icon-bookmark"></i>
                                <span>
                                    {{post.tags}}
                                </span>
                            </li>
                        </div>
                    </div>
                    <section class="post-body">
                        {{{ markdown(post.content) }}}
                    </section>
                    <section id="commentaires">
                        <h4>Commenter</h4>
                        <form method="post" action="/blog/{{post.id}}/comment">
                            @loggedIn
                            @else
                            <div class="compact">
                                <div class="required">
                                    <input type="text" name="name" placeholder="Pseudo" required/>
                                </div>
                                <div class="required">
                                    <input type="text" name="email" placeholder="Email" required/>
                                </div>
                                <div>
                                    <input type="text" name="website" placeholder="Votre site" />
                                </div>
                            </div>
                            <div class="compact">
                                <div>
                                    <input type="text" name="twitter" placeholder="Twitter" />
                                </div>
                                <div>
                                    <input type="text" name="github" placeholder="GitHub" />
                                </div>
                                <div>
                                    <input type="text" name="linkedin" placeholder="Linkedin" />
                                </div>
                            </div>
                            @endloggedIn
                            <textarea name="content" cols="30" rows="10" placeholder="Commentaire" required></textarea>
                            {{ csrfField() }}
                            <div>
                                <input type="submit" name="comment" value="Commenter ce post">
                            </div>
                        </form>
                        <h4>Commentaires</h4>
                    </section>
                    <section id="comments">
                        @each(comment in comments)
                            <div class="comment-section" id="{{comment.id}}">
                                @if(comment.replies.length > 0)
                                <div class="comment has-replies">
                                @else
                                <div class="comment">
                                @endif
                                    <div class="comment-avatar">
                                        <div class="avatar">
                                            <img src="{{getImageUser(comment.email,comment.image)}}" width="100%">
                                        </div>
                                        <div class="links">
                                            @if(comment.website !== '')
                                                <a href="{{comment.website}}" target="blank" class="website"><i class="icon-cursor"></i></a>
                                            @endif
                                            @if(comment.twitter !== '')
                                                <a href="https://twitter.com/{{comment.twitter}}" target="blank" class="twitter"><i class="icon-twitter"></i></a>
                                            @endif
                                            @if(comment.github !== '')
                                                <a href="https://github.com/{{comment.github}}" target="blank" class="github"><i class="icon-github"></i></a>
                                            @endif
                                            @if(comment.linkedin !== '')
                                                <a href="https://www.linkedin.com/in/{{comment.linkedin}}" target="blank" class="linkedin"><i class="icon-linkedin"></i></a>
                                            @endif
                                        </div>
                                        <div class="name">
                                            <a href="{{comment.website}}">{{comment.name}}</a>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <a class="name" href="{{comment.website}}">{{comment.name}}</a>
                                        <time datetime="{{comment.created_at}}">{{date(comment.created_at)}}</time>
                                        <div class="comment-body">
                                            <p>{{comment.content}}</p>
                                        </div>
                                        @loggedIn
                                            <a class="reply" replyto="{{comment.id}}" post_id="{{post.id}}" token="{{csrfToken}}" auth="1" href="javascript:void(0)">Répondre</a>
                                        @else
                                            <a class="reply" replyto="{{comment.id}}" post_id="{{post.id}}" token="{{csrfToken}}" auth="0" href="javascript:void(0)">Répondre</a>
                                        @endloggedIn
                                    </div>
                                </div>
                                <div> {{-- formulaire --}} </div>

                                @each(reply in comment.replies)
                                    <div class="comment-reply">
                                        <div class="comment-avatar">
                                            <div class="avatar">
                                                <img src="{{getImageUser(reply.email,reply.image)}}" width="100%">
                                            </div>
                                            <div class="links">
                                                @if(reply.website !== '')
                                                    <a href="{{reply.website}}" target="blank" class="website"><i class="icon-cursor"></i></a>
                                                @endif
                                                @if(reply.twitter !== '')
                                                    <a href="https://twitter.com/{{reply.twitter}}" target="blank" class="twitter"><i class="icon-twitter"></i></a>
                                                @endif
                                                @if(reply.github !== '')
                                                    <a href="https://github.com/{{reply.github}}" target="blank" class="github"><i class="icon-github"></i></a>
                                                @endif
                                                @if(reply.linkedin !== '')
                                                    <a href="https://www.linkedin.com/in/{{reply.linkedin}}" target="blank" class="linkedin"><i class="icon-linkedin"></i></a>
                                                @endif
                                            </div>
                                            <div class="name">
                                                <a href="{{reply.website}}">{{reply.name}}</a>
                                            </div>
                                        </div>
                                        <div class="comment-content">
                                            <a class="name" href="{{reply.website}}">{{reply.name}}</a>
                                            <time datetime="{{reply.created_at}}">{{date(reply.created_at)}}</time>
                                            <div class="comment-body">
                                                <p>{{reply.content}}</p>
                                            </div>
                                        </div>
                                    </div>
                                @endeach
                            </div>
                        @endeach
                    </section>
                </div>
            </div>
            <div id="sidebar">
              <div class="item">
                  <h4>Recherche</h4>
                  <hr>
                  <div class="search">
                    <form method="post" action="/search">
                          <input type="search" name="q" placeholder="Rechercher">
                          {{ csrfField() }}
                          <button type="submit">Go</button>
                      </form>
                  </div>
              </div>
              <div class="item">
                  <h4>Les derniers articles</h4>
                  <hr>
                  <ul>
                      @each(item in posts)
                      <li>
                          <a href="/blog/{{item.id}}-{{item.url}}"><span class="hover_span"></span><span class="link_span">{{item.title}}</span></a>
                      </li>
                      @endeach
                  </ul>
              </div>
              <div class="item" id="newsletter">
                  <h4>Newsletter</h4>
                  <hr>
                  <p>
                      Abonne toi à ma newsletter pour être au courant des dernières nouveautés !<br>
                      Tu peux aussi la retrouver sur <a href="/discord" class="link">mon discord</a> dans un channel prévu à cet effet !
                  </p>
                  <form method="post" action="/newsletter" class="newsletter">
                      <input type="email" name="email" placeholder="Adresse mail">
                      {{ csrfField() }}
                      <input type="submit" value="S'inscrire">
                  </form>
              </div>
          </div>
        </div>
      </div>
    </section>
    @include('inc/footer')

    <section id="notifs">
      {{ elIf('<div class="notif error"> <div class="notif_icon"></div><div class="content">$self</div></div>', getErrorFor('name'), hasErrorFor('name')) }}
      {{ elIf('<div class="notif error"> <div class="notif_icon"></div><div class="content">$self</div></div>', getErrorFor('email'), hasErrorFor('email')) }}
      {{ elIf('<div class="notif error"> <div class="notif_icon"></div><div class="content">$self</div></div>', getErrorFor('content'), hasErrorFor('content')) }}
      {{ elIf('<div class="notif error"> <div class="notif_icon"></div><div class="content">$self</div></div>', getErrorFor('email'), hasErrorFor('email')) }}
      @if(flashMessage('newsletter'))
          <div class="notif"> <div class="notif_icon"></div><div class="content">{{ flashMessage('newsletter') }}</div>
      @endif
    </section>
    <script src="/js/post.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/code.js"></script>
</body>
</html>
