<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{{post.title}} | DraftMan.fr</title>

    <meta name="description" content="{{post.description}}">

    <meta name="author" content="DraftMan">
    <meta name="copyright" content="DraftMan">

    <link rel="shortcut icon" href="https://www.draftman.fr/images/favicon.png" type="image/ico" />

    <link rel="canonical" href="https://www.draftman.fr/blog/{{post.url}}-{{post.id}}" />

    <meta property="og:title" content="{{post.title}} - DraftMan.fr">
    <meta property="og:description" content="{{post.description}}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:url" content="https://www.draftman.fr/blog/{{post.url}}-{{post.id}}">
    <meta property="og:site_name" content="DraftMan.fr">
    <meta property="og:image" content="https://www.draftman.fr/images/blog/posts/{{post.image}}">
    <meta property="og:image:secure_url" content="https://www.draftman.fr/images/blog/posts/{{post.image}}">
    <meta property="og:updated_time" content="{{post.updated_at}}">
    <meta property="article:publisher" content="https://www.facebook.com/profile.php?id=100009450744702">
    <meta property="article:published_time" content="{{post.created_at}}">
    <meta property="article:modified_time" content="{{post.updated_at}}">

    {{--  @each(tag in post.tags.split(', '))
        <meta property="article:tag" content="{{tag}}">
    @endeach  --}}

    <meta name="theme-color" content="#CD6E57">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CD6E57">
    <meta name="msapplication-navbutton-color" content="#CD6E57">

    <meta name="twitter:site" content="@DraftMan_Dev">
    <meta name="twitter:creator" content="@DraftMan_Dev">
    <meta name="twitter:title" content="{{post.title}} - DraftMan.fr">
    <meta name="twitter:description" content="{{post.description}}">
    <meta name="twitter:image:src" content="https://www.draftman.fr/images/blog/posts/{{post.image}}">

    <meta name="generator" content="Sublime Text">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Material+Icons|Open+Sans:300,400,600,700">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/code.css">

    <script>window.$crisp=[];window.CRISP_WEBSITE_ID="acbc2f53-2535-421f-8b15-770f4f67ee0c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>

<body id="page">
    @include('inc/header')
    <section class="parallax" style="background-image: url(/images/blog/posts/{{post.image}});">
        <h1>
            {{post.title}}
        </h1>
    </section>
    <section id="blog" class="post">
        <div class="content">
            <div class="corps">
                <div class="post-content">
                    <div class="top-content">
                        <h2>
                            {{post.title}}
                        </h2>
                        <div class="infos">
                            <li>
                                <i class="icon-user"></i>
                                <span>{{post.author_id}}</span>
                            </li>
                            <li>
                                <i class="icon-calender"></i>
                                <span>{{date(post.created_at) }}</span>
                            </li>
                            <li>
                                <i class="icon-bookmark"></i>
                                <span>
                            {{post.tags}}
                        </span>
                            </li>
                        </div>
                    </div>
                    <section id="post-body">
                        {{ markdown(post.content) }}
                    </section>
                    <section id="commentaires">
                        <h4>Commenter</h4>
                        <form method="post">
                            <div class="compact">
                                <div class="required">
                                    <input type="text" name="name" placeholder="Pseudo" required/>
                                </div>
                                <div class="required">
                                    <input type="text" name="email" placeholder="Email" required/>
                                </div>
                                <div>
                                    <input type="text" name="website" placeholder="Votre site" />
                                </div>
                            </div>
                            <div class="compact">
                                <div>
                                    <input type="text" name="twitter" placeholder="Twitter" />
                                </div>
                                <div>
                                    <input type="text" name="github" placeholder="GitHub" />
                                </div>
                                <div>
                                    <input type="text" name="linkedin" placeholder="Linkedin" />
                                </div>
                            </div>
                            <textarea name="content" cols="30" rows="10" placeholder="Commentaire" required></textarea>
                            <div>
                                <input type="submit" name="comment" value="Commenter ce post">
                            </div>
                        </form>
                        <h4>Commentaires</h4>
                    </section>
                    <section id="comments">
                        @each(comment in comments)
                            <div class="comment-section" id="{{comment.id}}">
                                <div class="comment <?php if($responses != false){echo 'has-replies';} ?>">
                                    <div class="comment-avatar">
                                        <div class="avatar">
                                            <img src="https://www.gravatar.com/avatar/<?=md5($comment->email)?>" width="100%">
                                        </div>
                                        <div class="links">
                                            @if(comment.website !== '')
                                                <a href="{{comment.website}}" target="blank" class="website"><i class="icon-cursor"></i></a>
                                            @endif
                                            @if(comment.twitter !== '')
                                                <a href="https://twitter.com/{{comment.twitter}}" target="blank" class="twitter"><i class="icon-twitter"></i></a>
                                            @endif
                                            @if(comment.github !== '')
                                                <a href="https://github.com/{{comment.github}}" target="blank" class="github"><i class="icon-github"></i></a>
                                            @endif
                                            @if(comment.linkedin !== '')
                                                <a href="https://www.linkedin.com/in/{{comment.linkedin}}" target="blank" class="linkedin"><i class="icon-linkedin"></i></a>
                                            @endif
                                        </div>
                                        <div class="name">
                                            <a href="{{comment.website}}">{{comment.name}}</a>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <a class="name" href="{{comment.website}}">{{comment.name}}</a>
                                        <time datetime="{{comment.created_at}}">{{date(comment.created_at)}}</time>
                                        <div class="comment-body">
                                            <p>{{comment.content}}</p>
                                        </div>
                                        <a class="reply" replyto="{{comment.id}}" href="#">Répondre</a>
                                    </div>
                                </div>
                                <div> {{-- formulaire --}} </div> 
                                
                                @each(reply in comment.replies)
                                    <div class="comment-reply">
                                        <div class="comment-avatar">
                                            <div class="avatar">
                                                <img src="https://www.gravatar.com/avatar/<?=md5(reply.email)?>" width="100%">
                                            </div>
                                            <div class="links">
                                                @if(reply.website !== '')
                                                    <a href="{{reply.website}}" target="blank" class="website"><i class="icon-cursor"></i></a>
                                                @endif
                                                @if(reply.twitter !== '')
                                                    <a href="https://twitter.com/{{reply.twitter}}" target="blank" class="twitter"><i class="icon-twitter"></i></a>
                                                @endif
                                                @if(reply.github !== '')
                                                    <a href="https://github.com/{{reply.github}}" target="blank" class="github"><i class="icon-github"></i></a>
                                                @endif
                                                @if(reply.linkedin !== '')
                                                    <a href="https://www.linkedin.com/in/{{reply.linkedin}}" target="blank" class="linkedin"><i class="icon-linkedin"></i></a>
                                                @endif
                                            </div>
                                            <div class="name">
                                                <a href="{{reply.website}}">{{reply.name}}</a>
                                            </div>
                                        </div>
                                        <div class="comment-content">
                                            <a class="name" href="{{reply.website}}">{{reply.name}}</a>
                                            <time datetime="{{reply.created_at}}">{{date(reply.created_at)}}</time>
                                            <div class="comment-body">
                                                <p>{{reply.content}}</p>
                                            </div>
                                        </div>
                                    </div>
                                @endeach
                            </div>
                        @endeach
                    </section>
                </div>
            </div>
            @include('sidebar')
        </div>
        </div>
    </section>
    @include('inc/footer')
    <script src="/js/post.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/code.js"></script>
</body>
</html>
